                /*Color de fondo de la página*/

body{
    background-color: #f3f5fc;
}

                /*Logo*/
.logo{
    display: inline;
    position: relative;
    top: 40px;
    left: 40px;
}

                /*Espacio texto usuario*/
.div-ingrese-texto{
    display: flex;
    position: absolute;
    top: 175px;
    left: 234px;
}

.ingrese-texto{ 
    background-color: #f3f5fc; /*fondo del input*/
    border: none; /*Sin borde*/
    height: 48px; /*Alto del espacio para escribir*/
    width: 577px; /*Largo del espacio para escribir*/
    font-size: 32px; /*Tamaño texto*/
    color: darkblue; /*Color texto*/
    outline: none; /*Sin borde cuando se está escribiendo*/
}

::placeholder{ /*texto de ejemplo*/
    color: darkblue; /*Color del texto de ejemplo*/
    opacity: 50%;
}


                /*Botones*/
.div-botones{
    display: flex; /*que ocupe solo el espacio necesario*/
    position: absolute ; /*una posición relativa*/
    top: 520px; /*distancia de arriba*/
    left: 234px; /*distancia de la izquierda*/
}

.boton-encriptar{
    height: 50px;
    width: 280px;
    background-color: darkblue;
    color: white;
    border: 1px solid #0a3871 ;
    border-radius: 24px;
    margin: 0 6px;
}


.boton-desencriptar{
    height: 50px;
    width: 280px;
    background-color: #d8dfe8;
    color: darkblue;
    border: 1px solid #0a3871 ;
    border-radius: 24px;
    margin: 0 6px;
}

                /*TEXTO DE RESPUESTA*/

.canvas{
    background: white;
    border-radius: 32px;
    display: flex; /*que ocupe solo el espacio necesario*/
    position: absolute ; /*una posición relativa*/
    top: 60px;
    left: 900px;
    width: 250px;
    height: 530px;
}

.muñeco{
    display: flex; /*que ocupe solo el espacio necesario*/
    position: absolute ; /*una posición relativa*/
    top: 180px;
    left: 910px;
    width: 226px;
    height: 194px;
}

.mensaje-1{
    display: flex;
    position: absolute;
    top: 390px;
    left: 910px;
    width: 226px;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
}

.mensaje-2{
    display: flex;
    position: absolute;
    top: 440px;
    left: 910px;
    width: 226px;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
}