                /*Color de fondo de la página*/

body{
    background-color: #f3f5fc;
}

                /*Logo*/
.logo{
    display: inline;
    position: relative;
    top: 40px;
    left: 40px;
}

                /*Espacio texto usuario*/
.div-ingrese-texto{
    display: flex;
    position: absolute;
    top: 175px;
    left: 234px;
}

.ingrese-texto{ 
    background-color: #f3f5fc; /*fondo del input*/
    border: none; /*Sin borde*/
    height: 250px; /*Alto del espacio para escribir*/
    width: 577px; /*Largo del espacio para escribir*/
    font-size: 20px; /*Tamaño texto*/
    color: darkblue; /*Color texto*/
    outline: none; /*Sin borde cuando se está escribiendo*/
    resize:none;
}

::placeholder{ /*texto de ejemplo*/
    color: darkblue; /*Color del texto de ejemplo*/
    opacity: 50%;
}


                /*Botones*/
.div-botones{
    display: flex; /*que ocupe solo el espacio necesario*/
    position: absolute ; /*una posición relativa*/
    top: 520px; /*distancia de arriba*/
    left: 234px; /*distancia de la izquierda*/
}

label{
    display: flex;
    position:absolute;
    margin: -30px 30px;
    font-size: 12px;
    color: #495057;
}

.exclamacion{
    display: flex;
    width: 11px;
    height: 11px;    
    margin: 0 5px;
}

.boton-encriptar{
    height: 50px;
    width: 280px;
    background-color: darkblue;
    color: white;
    border: 1px solid #0a3871 ;
    border-radius: 24px;
    margin: 0 6px;
    cursor: pointer;
}


.boton-desencriptar{
    height: 50px;
    width: 280px;
    background-color: #d8dfe8;
    color: darkblue;
    border: 1px solid #0a3871 ;
    border-radius: 24px;
    margin: 0 6px;
    cursor: pointer;
}

                /*TEXTO DE RESPUESTA*/

.canvas{
    background: white;
    border-radius: 32px;
    display: flex; /*que ocupe solo el espacio necesario*/
    position: absolute ; /*una posición relativa*/
    top: 60px;
    left: 900px;
    width: 250px;
    height: 530px;
}

.muneco{
    display: flex; /*que ocupe solo el espacio necesario*/
    position: absolute ; /*una posición relativa*/
    top: 150px;
    left: 910px;
    width: 226px;
    height: 194px;
}

.mensaje-1{
    display: flex;
    position: absolute;
    top: 380px;
    left: 910px;
    width: 226px;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
}

.mensaje-2{
    display: flex;
    position: absolute;
    top: 440px;
    left: 910px;
    width: 226px;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
}

.div-respuesta{
    display: flex;
    position: absolute ;
    top: 85px;
    left: 910px;
}

.respuesta{
    background-color: white;
    border: none;
    font-size: 18px;
    color: darkblue;
    font-weight: 500;
    width: 220px;
    height: 420px;
    outline: none;
    resize: none;
}

.btnCopiar{
    display: flex; 
    position: absolute ;
    top: 520px;
    left: 910px;
}

.styleCopiar{
    display: none;
    height: 50px;
    width: 220px;
    background-color: white;
    color: darkblue;
    border: 1px solid #0a3871 ;
    border-radius: 24px;
    margin: 0 6px;
    cursor: pointer;
}

.styleCopiar:hover, .boton-encriptar:hover, .boton-desencriptar:hover{
    transform: scale(1.02);
    font-weight: 600;
}

.styleCopiar:active, .boton-encriptar:active, .boton-desencriptar:active{
    transform: scale(1.0);
    font-weight: 100;
}